@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

body {
    margin:0;
    background-image: url("/images/background 2.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    padding: 0;
    margin: 0;
}

canvas {
    display: block;
}

h1, p {
	font-family: 'Comfortaa';
}

#intro {
	text-indent: 40px;
}

p {
	font-weight: bold;
}

h1 {
	font-weight: 200;
	font-weight: 900;
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
}

.heart {
	position: absolute;
	right: 2%;
	top: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	transition: transform 2s;
	z-index: 1;
}

.heart > img {
	width: 200px;
	height: auto;
}

.message {
	padding: 20px;
	background-color: rgb(255, 199, 207);
	min-width: 400px;
	height: 75%;
	position: absolute;
	left: 87%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
	overflow: auto;
	animation-name: openmsg;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-play-state: paused;
	animation-fill-mode: forwards;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 15px;
}

.message::-webkit-scrollbar {
	display: none;
}

.heart > img:hover {
	animation-name: beat;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

#messageState {
	display: none;
}

@keyframes beat {
	0% {
		width: 200px;
	}
	25% {
		width: 200px;
	}
	30% {
		width: 200px;
	}
	50% {
		width: 200px;
	}
	60% {
		width: 200px;
	}
	75% {
		width: 200px;
	}
	100% {
		width: 200px;
	}
}

@keyframes openmsg {
	0% {
		height: 0px;
		padding: 0px 20px;
	}
	100% {
		height: 75%;
		padding: 20px 20px;
	}
}

@keyframes heartMove {
	0% {
		top: 50%
	}
	100% {
		top: 85%;
		transform: translate(-50%, 0);
	}
}

.openNor {
	animation-direction: normal;
	animation-play-state: running;
}

.closeNor {
	animation-direction: reverse;
	animation-play-state: running;
}

.no-anim {
	animation: none;
}

.closed {
	height: 0px;
	padding: 0px 20px;
}

.bottom {
	bottom: 5px;
}

.openHer {
	animation-name: heartMove;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

.closeHer {
	animation-name: heartMove;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-play-state: running;
	animation-direction: reverse;
	animation-fill-mode: forwards;
}

.beating > img {
	animation-name: beat;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

.openedHer {
	top: 85%;
	transform: translate(-50%, 0);
}